{% extends "base.html" %}
{% load url from future %}

{% block html_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/neerbee.map.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.ie.css" />
<![endif]-->
<script src="{{ STATIC_URL }}js/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/web-maps-lite.js"></script>
{% endblock %}

{% block content %}
{% if spot_slug %}
  <form action="{% url 'admin:edit_spot' spot_slug %}" method="post" class="form-horizontal">{% csrf_token %}
{% else %}
  <form action="{% url 'admin:create_spot' %}" method="post" class="form-horizontal">{% csrf_token %}
{% endif %}
{{ form.non_field_errors }}  
<div class="control-group">
  {{ form.name.errors }}
  <label class="control-label" for="{{ form.name.auto_id }}">Name</label>
  <div class="controls">
    {{ form.name }}
  </div>
</div>
<div class="control-group">
  {{ form.address.errors }}
  <label class="control-label" for="{{ form.address.auto_id }}">Address</label>
  <div class="controls">
    {{ form.address }}
  </div>
</div>
<div class="control-group">
  {{ form.neighbourhood.errors }}
  <label class="control-label" for="{{ form.neighbourhood.auto_id }}">Neighbourhood</label>
  <div class="controls">
    {{ form.neighbourhood }}
  </div>
</div>
<div class="control-group">
  {{ form.pobox.errors }}
  <label class="control-label" for="{{ form.pobox.auto_id }}">Postcode</label>
  <div class="controls">
    {{ form.pobox }}
  </div>
</div>
<div class="control-group">
  <div id="form-map"></div>
</div>
<div class="control-group">
  {{ form.phone.errors }}
  <label class="control-label" for="{{ form.phone.auto_id }}">Phone</label>
  <div class="controls">
    {{ form.phone }}
  </div>
</div>
<div class="control-group">
  {{ form.website.errors }}
  <label class="control-label" for="{{ form.website.auto_id }}">Website</label>
  <div class="controls">
    {{ form.website }}
  </div>
</div>
<div class="control-group">
  {{ form.price.errors }}
  <label class="control-label" for="{{ form.price.auto_id }}">Price</label>
  <div class="controls">
    {{ form.price }}
  </div>
</div>
<div class="control-group">
  {{ form.wi_fi.errors }}
  <label class="control-label" for="{{ form.wi_fi.auto_id }}">Wi-fi</label>
  <div class="controls">
    {{ form.wi_fi }}
  </div>
</div>
<div class="control-group">
  {{ form.credit_card.errors }}
  <label class="control-label" for="{{ form.credit_card.auto_id }}">Credit card</label>
  <div class="controls">
    {{ form.credit_card }}
  </div>
</div>
<div class="control-group">
  {{ form.wheelchair.errors }}
  <label class="control-label" for="{{ form.wheelchair.auto_id }}">Wheelchair access</label>
  <div class="controls">
    {{ form.wheelchair }}
  </div>
</div>
<div class="control-group">
  {{ form.tv.errors }}
  <label class="control-label" for="{{ form.tv.auto_id }}">TV</label>
  <div class="controls">
    {{ form.tv }}
  </div>
</div>
<div class="control-group">
  {{ form.smoking.errors }}
  <label class="control-label" for="{{ form.smoking.auto_id }}">Smoking</label>
  <div class="controls">
    {{ form.smoking }}
  </div>
</div>
<div class="control-group">
  {{ form.self_service.errors }}
  <label class="control-label" for="{{ form.self_service.auto_id }}">Self-service</label>
  <div class="controls">
    {{ form.self_service }}
  </div>
</div>
<div class="control-group">
  {{ form.reservations.errors }}
  <label class="control-label" for="{{ form.reservations.auto_id }}">Reservations</label>
  <div class="controls">
    {{ form.reservations }}
  </div>
</div>
<div class="control-group">
  {{ form.snacks.errors }}
  <label class="control-label" for="{{ form.snacks.auto_id }}">Snacks</label>
  <div class="controls">
    {{ form.snacks }}
  </div>
</div>
<div class="control-group">
  {{ form.outdoor_seating.errors }}
  <label class="control-label" for="{{ form.outdoor_seating.auto_id }}">Outdoor seating</label>
  <div class="controls">
    {{ form.outdoor_seating }}
  </div>
</div>
<div class="control-group">
  {{ form.parking.errors }}
  <label class="control-label" for="{{ form.parking.auto_id }}">Parking</label>
  <div class="controls">
    {{ form.parking }}
  </div>
</div>

Choose which services are offered by the spot:<br />
<label class="checkbox inline">
  {{ form.service_food }}
  Food
</label>
<label class="checkbox inline">
  {{ form.service_bar }}
  Bar
</label>
<label class="checkbox inline">
  {{ form.service_coffee }}
  Coffee
</label>
<label class="checkbox inline">
  {{ form.service_club }}
  Club
</label><br /><br />
<div id="service_food">
  Food details
  <div class="control-group">
    {{ form.food_category.errors }}
    <label class="control-label" for="id_food_category">Food category</label>
    <div class="controls">
      {{ form.food_category }}
    </div>
  </div>
  <div class="control-group">
    {{ form.food_delivery.errors }}
    <label class="control-label" for="id_food_delivery">Delivery</label>
    <div class="controls">
      {{ form.food_delivery }}
    </div>
  </div>
  <div class="control-group">
    {{ form.food_take_out.errors }}
    <label class="control-label" for="id_food_take_out">Take out</label>
    <div class="controls">
      {{ form.food_take_out }}
    </div>
  </div>
</div>
<div id="service_bar">
  Bar details
  <div class="control-group">
    {{ form.bar_category.errors }}
    <label class="control-label" for="id_bar_category">Bar category</label>
    <div class="controls">
      {{ form.bar_category }}
    </div>
  </div>
</div>
<div id="service_coffee">
  Coffee details
  <div class="control-group">
    {{ form.coffee_board_games.errors }}
    <label class="control-label" for="id_coffee_board_games">Board games</label>
    <div class="controls">
      {{ form.coffee_board_games }}
    </div>
  </div>
</div>
<div id="service_club">
  Club details
  <div class="control-group">
    {{ form.club_coat_check.errors }}
    <label class="control-label" for="id_club_coat_check">Coat check</label>
    <div class="controls">
      {{ form.club_coat_check }}
    </div>
  </div>
  <div class="control-group">
    {{ form.club_face_control.errors }}
    <label class="control-label" for="id_club_face_control">Face control</label>
    <div class="controls">
      {{ form.club_face_control }}
    </div>
  </div>
</div>
<input class="btn btn-success" type="submit" value="Submit">
</form>

<script type="text/javascript">
$(document).ready(function(){

  $('[name="address"]').keyup(function() {
    var valueText = $(this).val();
    if (valueText.length > 3) {
       geoText(valueText + ', Ελλάδα');
    }
  });

  // OpenStreetMap maps

  var map = L.map('form-map').setView([37.9833333, 23.7333333], 13);
  L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
      attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
      maxZoom: 18,
      subdomains: ['otile1','otile2','otile3','otile4']
  }).addTo(map);

  var thisLayerGroup = L.layerGroup([]);
  
  function geoText (text) {

    thisLayerGroup.clearLayers();

    var geocoder = new CM.Geocoder('4ba9e7ddb94b4c809ea26baa852dd1a6');

    geocoder.getLocations(text, function(response) {
      /*var p1 = new L.Point(response.bounds[0][0], response.bounds[0][1]),
          p2 = new L.Point(response.bounds[1][0], response.bounds[1][1]),
          bounds = new L.Bounds(p1, p2);
      map.fitBounds(bounds);*/
      for (var i = 0; i < response.features.length; i++) {
          var coords = response.features[i].centroid.coordinates;
          var features = response.features[i];

          console.log(features);

          var thisMarker = L.marker([coords[0], coords[1]]).addTo(map).bindPopup(features.properties.name);

          thisLayerGroup.addLayer(thisMarker);

          map.panTo([coords[0], coords[1]]);
      }
    });

  }

  /* 

  //Leaflet Default maps 

  var map = L.map('form-map').setView([51.505, -0.09], 13);
  L.tileLayer('http://{s}.tile.cloudmade.com/4ba9e7ddb94b4c809ea26baa852dd1a6/997/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
  }).addTo(map);
  
  */

	if (!$("#{{ form.service_food.auto_id }}").is(":checked"))
		$("#service_food").hide()
	if (!$("#{{ form.service_bar.auto_id }}").is(":checked"))
		$("#service_bar").hide()
	if (!$("#{{ form.service_coffee.auto_id }}").is(":checked"))
		$("#service_coffee").hide()
	if (!$("#{{ form.service_club.auto_id }}").is(":checked"))
		$("#service_club").hide();

	$("#{{ form.service_food.auto_id }}").click(function(){
		if ($("#{{ form.service_food.auto_id }}").is(":checked")){
		        $("#service_food").show("fast");
		}
		else {
			$("#service_food").hide("fast");
		}
	});
	$("#{{ form.service_bar.auto_id  }}").click(function(){
		if ($("#{{ form.service_bar.auto_id }}").is(":checked")){
		        $("#service_bar").show("fast");
		}
		else {
			$("#service_bar").hide("fast");
		}
	});
	$("#{{ form.service_coffee.auto_id }}").click(function(){
		if ($("#{{ form.service_coffee.auto_id }}").is(":checked")){
		        $("#service_coffee").show("fast");
		}
		else {
			$("#service_coffee").hide("fast");
		}
	});
	$("#{{ form.service_club.auto_id }}").click(function(){
		if ($("#{{ form.service_club.auto_id }}").is(":checked")){
		        $("#service_club").show("fast");
		}
		else {
			$("#service_club").hide("fast");
		}
	});
});
		
</script>
{% endblock %}
