{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
<h1>User registration page</h1>

{% block content %}

<form method="post" action="{% url 'registration_register' %}">
  {% csrf_token %}
  {{ form.non_field.errors }}
  <p><label for="id_username">username:</label>
     {{ form.username.errors }}
     <input name="username" class="required" maxlength="30" type="text" id="id_username" /></p>
  <p><label for="id_email">email address:</label>
     {{ form.email.errors }}
     <input name="email" class="required" maxlength="75" type="text" id="id_email" /></p>
  <p><label for="id_password1">password:</label>
     {{ form.password1.errors }}
     <input id="id_password1" type="password" class="required" name="password1" /></p>
  <p><label for="id_password2">password (again):</label> 
     {{ form.password2.errors }}
     <input id="id_password2" type="password" class="required" name="password2" /></p>

  <input type="submit" value="{% trans 'Register' %}" />
</form>

{% endblock %}

