{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
<div class="row">
	<div class="span12">
		{% block content %}
		{% if form.errors %}
		<div class="alert alert-error">{{ form.errors }}</div>
		{% endif %}

		<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="username">{% trans "Username" %}</label>
				<div class="controls">{{ form.username }}</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">{% trans "Password" %}</label>
				<div class="controls">{{ form.password }}</div>
			</div>
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Login" />
			</div>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

		<div class="controls btn-group">
			<a class="btn btn-small" href="{% url 'registration_register' %}"><i class="icon-edit"></i> {% trans "Don't have an account yet?" %}</a>
			<a class="btn btn-small" href="/accounts/password/reset/">{% trans "Forgot your password?" %}</a>
		</div>

	</div>
</div>
{% endblock %}
