{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block content %}
<div class="row">
	<div class="span12">
		{% if form.errors %}
		<div class="alert alert-error">{{ form.errors }}</div>
		{% endif %}
	</div>
</div>
		<form class="form-signin well" method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			<h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
			<input type="text" name="username" class="input-block-level" placeholder="{% trans "Username" %}">
			<input type="password" name="password" class="input-block-level" placeholder="{% trans "Password" %}">
			<button class="btn btn-large btn-primary" type="submit">{% trans "Sign in" %}</button>
			<input type="hidden" name="next" value="{{ next }}" />
			<hr>
			<div class="controls btn-group">
				<a class="btn btn-small" href="{% url 'registration_register' %}">{% trans "Don't have an account yet?" %}</a>
				<a class="btn btn-small" href="/accounts/password/reset/">{% trans "Forgot your password?" %}</a>
			</div>
		</form>

{% endblock %}
