{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block content %}
<div class="row">
	<div class="span12">
		{% if form.errors %}
		<div class="alert alert-error">{{ form.errors }}</div>
		{% endif %}

		<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label">{% trans "Username" %}</label>
				<div class="controls">{{ form.username }}</div>
			</div>
			<div class="control-group">
				<label class="control-label">{% trans "Password" %}</label>
				<div class="controls">{{ form.password }}</div>
			</div>
			<div class="controls">
				<button class="btn btn-primary" type="submit"><i class="icon-user"></i> Login</button>
			</div>
			<br />
			<input type="hidden" name="next" value="{{ next }}" />
			<div class="controls btn-group">
				<a class="btn btn-small" href="{% url 'registration_register' %}">{% trans "Don't have an account yet?" %}</a>
				<a class="btn btn-small" href="/accounts/password/reset/">{% trans "Forgot your password?" %}</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
