{% extends "base.html" %}
{% load url from future %}
<div class="row">
	<div class="span12">
		<h1>User login page</h1>

		{% block content %}

		{% if form.errors %}
		<div class="alert alert-error">{{ form.errors }}</div>
		{% endif %}

		<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="username">{{ form.username.label_tag }}</label>
				<div class="controls">{{ form.username }}</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">{{ form.password.label_tag }}</label>
				<div class="controls">{{ form.password }}</div>
			</div>
			<div class="controls btn-group">
				<input class="btn btn-primary" type="submit" value="Login" />
				<a class="btn btn-small" href="/accounts/password/reset/">Forgot your password?</a>
			</div>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

		<a class="btn btn-small" href="{% url 'registration_register' %}"><i class="icon-edit"></i> Don't have an account yet?</a>

	</div>
</div>
{% endblock %}
