{% load url from future %}{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/neerbee.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{% block title %}neerbee{% endblock %}</title>
  <!-- Javascript -->
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("[rel=tooltip]").tooltip();
    });
  </script>
  {% block html_head %}{% endblock %}
</head>
<body>
<div id="navbar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

      <a class="brand" href="/"><div id="nb-logo"></div></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-left">
          {% block navbar %}
          {% if not user.is_anonymous %}
            <li><a href="/">{% trans "home" %}</a></li>
            <li><a href="{% url 'spots:spots'  %}">{% trans "spots" %}</a></li>
          {% endif %}
          {% endblock %}
        </ul>
      </div>
      <div class="pull-right">
        {% if user.is_anonymous %}
        <a class="btn btn-small btn-success" rel="tooltip" data-placement="bottom" title="{% trans "Login" %}" href="{% url 'django.contrib.auth.views.login' %}"><i class="icon-user icon-white"></i></a>
        {% else %}
        <a class="btn btn-small" rel="tooltip" data-placement="bottom" title="{% trans "Account settings" %}"  href="{% url 'user_settings' %}"><i class="icon-user"></i></a>
        {% if user.is_staff %}
        <a class="btn btn-small" href="{% url 'admin:admin_panel' %}"><i class="icon-cog"></i></a>
        {% endif %}  
        <a class="btn btn-small btn-danger" data-placement="bottom" rel="tooltip" title="{% trans "Logout" %}" href="{% url 'django.contrib.auth.views.logout' %}"><i class="icon-remove icon-white"></i></a>
        {% endif %}
      </div>  
    </div>
  </div>
</div>
<div id="content" class="container">
  {% if messages %}
      <div class="row">
        <div class="span12">
        {% for message in messages %}
        <div id="message_{{ forloop.counter }}"
          {% if message.tags %} 
             class="alert alert-{{ message.tags }}" 
            {% endif %}>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% block content %}{% endblock %}
</div>
</body>
</html>
