{% load url from future %}{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/neerbee.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>{% block title %}neerbee{% endblock %}</title>
  <!-- Javascript -->
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/underscore.js" %}"></script>
  <script src="{% static "js/backbone.js" %}"></script>
  <script src="{% static "js/mustache.js" %}"></script>
  <script src="{% static "js/neerbee-search.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("[rel=tooltip]").tooltip();
      Neerbee.boot($('#neerbee-search'));
    });
  </script>
  {% block html_head %}{% endblock %}
</head>
<body>
<div id="navbar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><div id="nb-logo"></div></a>
      <div class="pull-right">
        <div class="navbar-form">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span><input autocomplete="off" class="span2" id="input-search-query" type="text" placeholder="{% trans "Find a spot" %}"/>
          </div>
          {% if user.is_anonymous %}
          <a class="btn btn-small btn-success" rel="tooltip" data-placement="bottom" title="{% trans "Login" %}" href="{% url 'django.contrib.auth.views.login' %}"><i class="icon-user icon-white"></i></a>
          {% else %}
          <div class="btn-group">
            <a class="btn btn-small btn-navbar-neerbee dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i>
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="left: auto; right: 0px;">
              <li><a href="{% url 'user_settings' %}"><i class="icon-cog"></i> User settings</a></li>
              {% if user.is_staff %}
              <li><a href="{% url 'admin:admin_panel' %}"><i class="icon-cogs"></i> Admin settings</a></li>
              {% endif %}
              <li class="divider"></li>
              <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="icon-off"></i> Logout</a></li>
            </ul>
          </div>
          {% endif %}
          <a class="btn btn-navbar btn-small" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-minus"></i></a>
        </div> 
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav pull-left">
          {% block navbar %}
          {% if not user.is_anonymous %}
            <li><a href="/">{% trans "home" %}</a></li>
            <li><a href="{% url 'spots:spots'  %}">{% trans "spots" %}</a></li>
          {% endif %}
          {% endblock %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content" class="container">
  <div class="row">
    <div class="span12 neerbee-search-container">
      <div id="neerbee-search">
      </div>
    </div>
  </div>
  {% if messages %}
      <div class="row">
        <div class="span12">
        {% for message in messages %}
        <div id="message_{{ forloop.counter }}"
          {% if message.tags %} 
             class="alert alert-{{ message.tags }}" 
            {% endif %}>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% block content %}{% endblock %}
</div>

<script type="text/x-mustache-template" id="result-template">
<a href="{% templatetag openvariable %} spot_url {% templatetag closevariable %}"><strong>{% templatetag openbrace %}{% templatetag openvariable %} name {% templatetag closevariable %}{% templatetag closebrace %}</strong> <span class="muted">{% templatetag openvariable %} address {% templatetag closevariable %} {% templatetag openvariable %} neighbourhood {% templatetag closevariable %}</span></a>
</script>
</body>
</html>
