{% extends "base.html" %}
{% load url from future %}

{% block html_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/neerbee.map.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.cloud.css" />
<!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.ie.css" />
<![endif]-->
<script src="{{ STATIC_URL }}js/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cloud.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
    {% if user.is_staff %}    
	<a class="btn" href="{% url 'admin:edit_spot' spot.slug %}">edit</a>
    {% endif %}
    
	<h3><small><i class="icon-info-sign"></i></small> {{ spot.name }}</h3>

    <div class="btn-group">
        <button id="spot-like" class="spot-likeness btn {% if likes %}btn-success{% endif %}"><i class="icon-thumbs-up"></i></button>
        <button id="spot-dislike" class="spot-likeness btn {% if dislikes %}btn-danger{% endif %}"><i class="icon-thumbs-down"></i></button>
    </div>

    <div id="spot-profile-map"></div>

    <div id="spot-traits" class="jqcloud"></div>

        {{ spot.services|join:", " }} | {{ spot.address }}, {{ spot.neighbourhood }} {{ spot.pobox }}<br />
        {# service details #}
        {% for service in spot.services %}
            {% if "category" in service %}
                <b>{{ service }} Category:</b> {{ service.category }}<br />
            {% endif %}
            {% if "delivery" in service %}
                <b>Has delivery:</b> {{ service.delivery|yesno }}<br />
            {% endif %}
            {% if "take_out" in service %}
                <b>Has take out:</b> {{ service.take_out|yesno }}<br />
            {% endif %}
            {% if "board_games" in service %}
                <b>Has board games:</b> {{ service.board_games|yesno }}<br />
            {% endif %}
            {% if "coat_check" in service %}
                <b>Has coat check:</b> {{ service.coat_check|yesno }}<br />
            {% endif %}
            {% if "face_control" in service %}
                <b>Has face control:</b> {{ service.face_control|yesno }}<br />
            {% endif %}
        {% endfor %}
        {% if "phone" in spot %}
        <b>Phone:</b> {{ spot.phone }}<br />
        {% endif %}
        {% if "website" in spot %}
        <b>Website:</b> {{ spot.website|urlize }}<br />
        {% endif %}
        {% if "price" in spot %}
        <b>Price:</b> {{ spot.price }}<br />
        {% endif %}
        {% if "wi_fi" in spot %}
        <b>Wi-Fi:</b> {{ spot.wi_fi|yesno }}<br />
        {% endif %}
        {% if "credit_card" in spot %}
        <b>Accepts Credit Cards:</b> {{ spot.credit_card|yesno }}<br />
        {% endif %}
        {% if "wheelchair" in spot %}
        <b>Wheelchair Accessible:</b> {{ spot.wheelchair|yesno }}<br />
        {% endif %}
        {% if "tv" in spot %}
        <b>Has TV:</b> {{ spot.tv|yesno }}<br />
        {% endif %}
        {% if "smoking" in spot %}
        <b>Smoking Allowed:</b> {{ spot.smoking|yesno }}<br />
        {% endif %}
        {% if "self_service" in spot %}
        <b>Is self-service</b><br />
        {% endif %}
        {% if "reservations" in spot %}
        <b>Takes Reservations:</b> {{ spot.reservations|yesno }}<br />
        {% endif %}
        {% if "snacks" in spot %}
	<b>Has Snacks</b> {{ spot.snacks|yesno }}<br />
        {% endif %}
        {% if "outdoor_seating" in spot %}
	<b>Has outdoor seating:</b> {{ spot.outdoor_seating|yesno }}<br />
        {% endif %}
        {% if "parking" in spot %}
	<b>Has parking</b> {{ spot.parking|yesno }}<br />
        {% endif %}
    </div>
</div>

<script type="text/javascript">
{% if "location" in spot %}
var spotLoc0 = parseFloat("{{ spot.location.0 }}");
var spotLoc1 = parseFloat("{{ spot.location.1 }}");
{% else %}
var spotLoc0 = 37.986828;
var spotLoc1 = 23.730125;
{% endif %}

function showLike (action) {
    if (action == 'like') {
        $('#spot-like').addClass('btn-success');
        $('#spot-dislike').removeClass('btn-danger');
    }
    else if (action == 'dislike') {
        $('#spot-like').removeClass('btn-success');
        $('#spot-dislike').addClass('btn-danger');
    }
    else {
        $('#spot-like').removeClass('btn-success');
        $('#spot-dislike').removeClass('btn-danger');
    }
}

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    crossDomain: false,
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
    }
});

$(document).ready(function(){

  var map = L.map('spot-profile-map').setView([spotLoc0, spotLoc1], 17);
  var marker = L.marker([spotLoc0, spotLoc1]).addTo(map);
  marker.bindPopup("{{ spot.name }}");

  L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
      attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
      maxZoom: 18,
      subdomains: ['otile1','otile2','otile3','otile4']
  }).addTo(map);

  $('button.spot-likeness').click(function(){

    var currentAction;
    
    if ($(this).attr('id') == 'spot-like') {
        if ($(this).hasClass('btn-success')) {
            currentAction = 'neutral';
        }
        else {
            currentAction = 'like';
        }
    }
    else {
        if ($(this).hasClass('btn-danger')) {
            currentAction = 'neutral';
        }
        else {
            currentAction = 'dislike';
        }
    }

    $.ajax({
        type: "POST",
        dataType: "json",
        url: "/api/v1/spot/{{ spot.slug }}/likeness/",
        data: { 
            action: currentAction
        },
        success: function (response) {
            showLike(response.action);
        }
    });

  });

    var traitCloud = new Array();
    
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/api/v1/spot/{{ spot.slug }}/trait/",
        success: function (response) {
            $("#spot-traits").jQCloud(response);
        }
    });

});
</script>
{% endblock %}
