{% load url from future %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>neerbee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/neerbee.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <div class="row">
        <div class="span12">

          <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span><input autocomplete="off" id="input-search-query" type="text" placeholder="Search venues" />
          </div>

          <div id="neerbee-search">
            No results.
          </div>

        </div>
      </div>

    </div> <!-- /container -->

  <script type="text/x-mustache-template" id="result-template">
  <a href="/spots/{% templatetag openvariable %} slug {% templatetag closevariable %}/"><strong>{% templatetag openbrace %}{% templatetag openvariable %} name {% templatetag closevariable %}{% templatetag closebrace %}</strong> <span class="muted">{% templatetag openvariable %} address {% templatetag closevariable %} {% templatetag openvariable %} neighbourhood {% templatetag closevariable %}</span></a>
  </script>

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/mustache.js"></script>
    <script src="{{ STATIC_URL }}js/neerbee-search.js"></script>
    <script>$(function() { Neerbee.boot($('#neerbee-search')); });</script>

  </body>
</html>
